.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: lightblue;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
  }